.flexOne{
    display: flex;
    background-color: rgb(240, 238, 238);
}
.companyName {

    align-items: flex-start;
  
    margin-left: 100px;  
    margin-top: 10px;
    margin-bottom: 10px; 
  
    background: linear-gradient(to right, aqua 54%, #2563eb 46%);
    
    -webkit-background-clip: text;
    background-clip: text;
    
    color: transparent;
    
    display: inline-block;
}
.language{

    padding: 10px 20px;
    margin-left: 900px;
    text-align: flex-end;

    font-size: 13px;
    background-color: #abbde4;
    border-radius: 13px;
    

}