.flexOne{
    display: flex;
    background-color: rgb(240, 238, 238);
    flex-direction: row;
    justify-content: space-between;

}
.companyName {

    align-items: flex-start;
  
    margin-left: 100px;  
    margin-top: 10px;
    margin-bottom: 10px; 
  
    background: linear-gradient(to right, aqua 54%, #2563eb 46%);
    
    -webkit-background-clip: text;
    background-clip: text;
    
    color: transparent;
    
    display: inline-block;
}
.language{

    margin-right: 30px;  
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 0px 2px;

    font-size: 12px;
    background-color: #d2d8fa;
    border-radius: 12px;
    border: 2px outset  rgb(155, 172, 248);
    
    transition-duration: 0.4s;
}
.buttonText{
    
    color:rgb(95, 112, 185);
}

button.language:hover{

    background-color: rgb(255, 255, 255);
}