.flexOne{
    display: flex;
    background-color: rgb(255, 255, 255);
}
.companyName { 

    align-items: flex-start;
  
    margin-left: 100px;  
    margin-top: 10px;
    margin-bottom: 10px; 
  
/* linear-gradient(to right, aqua 54%, #2563eb 46%);*/

    display: inline-block;
}